html {
    background-color: #F2F2F2;
    margin: 0;
    padding: 0;
    font-size: 0;
}

.content {
    margin: auto;
    max-width: 1000px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.title {
    font-family: 'Crafty Girls', cursive;
    font-size: 28pt;
    color: #EF808D;
    text-align: center;
}

.subtitle {
    font-family: 'Schoolbell', cursive;
    font-size: 18pt;
    color: #94A6A6;
    text-align: center;
}

.inputStyle {
    font-family: 'Roboto', sans-serif;
    font-size: 12pt;
    color: #03A688;
    background-color: #E8F2F2;
    border-radius: 5px;
    border: 1px solid #8FD9C4;
}

textarea {
    width: 60%;
    height: 110px;
    padding: 12px;
    margin-left: 20%;
    margin-right: 20%;
    box-sizing: border-box;
    resize: none;
}

.inputNum {
    width: 25.5%;
    height: 20px;
    padding: 12px;
    margin-left: 36%;
    margin-right: 36%;
    margin-top: 10px;
    -moz-appearance: textfield;
}

.button {
    font-family: 'Schoolbell', cursive;
    font-size: 18pt;
    color: #F2F2F2;
    width: 13%;
    height: 45px;
    background-color: #EF808D;
    border: 1px solid #EF7297;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.left {
    margin-left: 36%;
    margin-right: 1%;
}

.right {
    margin-left: 1%;
    margin-right: 36%;
}

@media (max-width: 1000px) {

    .title {
        font-size: 22pt;
    }

    .subtitle {
        font-size: 16pt;
    }
    
    textarea {
        height: 95px;
        margin-bottom: 5px;
        margin-top: 5px;
    }

    .inputNum {
        width: 60%;
        height: 50px;
        margin-left: 20%;
        margin-right: 20%;
        margin-top: 10px;
        margin-bottom: 5px;
        box-sizing: border-box;
    }

    .left, .right{
        margin-left: 38%;
        margin-right: 38%;
        margin-top: 5px;
        margin-bottom: 5px;
        box-sizing: border-box;
    }

    .button {
        width: 24%;
    }
}

/*@media (max-width: 615px) {
    .title {
        font-size: 18pt;
    }

    .subtitle {
        font-size: 13pt;
    }

    .inputStyle {
        font-size: 13pt;
    }

    textarea, .inputNum {
        width: 82%;
        margin-left: 9%;
        margin-right: 9%;
        margin-top: 5px;
        margin-bottom: 5px;
        box-sizing: border-box;
    }

    textarea {
        height: 100px;
    }

    .inputNum {
        height: 50px;
    }

    .button {
        font-size: 18pt;
        width: 40%;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .left, .right{
        margin-left: 30%;
        margin-right: 30%;
        display: block;
    }
}*/